<html>
  <body>
    <%- include('partials/header') %>
    <main class="main-content index_container">
      <h1>Leaderboard</h1>
      <form action="/" method="GET">
        <button type="submit">Main Menu</button>
      </form>
    </main>
  </body>
</html>
