<html>
  <body>
    <!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
    <%- include('partials/header') %>
    <main class="main-content index_container">
      <p>Leaderboard</p>
    </main>
  </body>
</html>
