<html>
  <body>
    <%- include('partials/header') %>
    <main class="main-content index_container">
      <div class="leaderboardBox">
        <h1 class="leaderboardHeader">Leaderboard</h1>
        <p>View your score below!</p>
      </div>
      <% if (leaderboard.length > 0) { %> <% leaderboard.forEach(function
      (entry, index) { %>
      <div class="card">
        <p class="leaderboardEntry">
          <strong><%= entry.user %>:</strong> Streak of <%= entry.streak %>
          (Achieved on <%= entry.timestamp %>)
        </p>
      </div>
      <% }) %> <% } else { %>
      <p>No entries yet!</p>
      <% } %>

      <form action="/" method="GET">
        <button type="submit">Main Menu</button>
      </form>
    </main>
  </body>
</html>
